<script type="text/javascript">
    //Bind City dropdownlist

    $("#firstside li button").click(function () {
        var id = $(this).attr('data-topass');

        var conid = $("#" + id).val();
        var url = "/CustServ/GetCities";

        $.getJSON(url, { Id: conid }, function (data) {
            var item = "";
            $("#secondnav").empty();
            $.each(data, function (i, city) {
                item += '<li class="p-2"><button class="btn btn-block" data-topass="' + city.Id + '"value="' + city.Id + '">' + city.Name + '</button></li>'
            });
            $("#secondnav").html(item);
            //bind Bransches
            $("#secondnav li button").click(function () {
                var id = $(this).attr('data-topass');

                var cityid = $("#" + id).val();
                var url = "/CustServ/GetBranches";

                $.getJSON(url, { Id: cityid }, function (data) {
                    var item = "";
                    var item2 = "";
                    $("#branchnumber").empty();
                    $(".branch").empty();
                    $.each(data, function (i, branch) {
                        item +=
                            '<div class="card-header bg-white">' +
                            ' <div>' +
                        '<h5 class="mb-0">' +
                        ' <button data-topass="' + branch.ID + '" data-target="#b' + branch.ID + '" class="btn branchheader  btn-xl btn-block" style="background-color: white;text-align: left;color: #989FA5;" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="' + branch.ID + '">' +
                            ' <div class="d-flex">' +
                        '<h6 class="mr-auto"><i class="fas fa-store m-1"></i>' + branch.Name + '</h6>' +
                        '<h6 class="badge badge-warning mr-3"><i class="fas fa-map-marker-alt m-1" ></i >' + branch.Address + '</h6 >'+
                            '<h6 class="badge badge-primary"><i class="far fa-clock m-1"></i> FROM ' + branch.StartTime + ' TO ' + branch.EndTime + '</h6> ' +
                            ' </div>' +
                            '</button>' +
                            ' </h5>' +

                            ' </div>' +
                            '</div>';

                        item2 = branch.BranchNumber;
                    });
                    $(".branch").html(item);
                    $("#branchnumber").html(item2);
                    $(".branchheader").click(function () {
                        var id = $(this).attr("data-topass");
                        var branchid = $("#" + id).val();
                        var url = "/CustServ/GetEmps";
                        $.getJSON(url, { Id: branchid }, function (data) {
                            var item = "";
                            $(".names").empty();
                            $.each(data, function (i, emp) {
                                item += "<h4>" + emp.EmpName + "</h4>";
                            });
                            $(".names").html(item);
                        });
                    });
                });

            });

        });

    });
</script>

